{% if content %}
<div class="buildercv-presentation">
	<div class="container">
		<div class="row">
			{% if content.image|has_value %}
			<div {{ region_attributes.image.addClass(['image']) }}>
				{{ content.image }}
			</div>
			{% endif %}
			{% if content.subtitle|has_value or content.title|has_value  %}
			<div class="col">
				<{{settings.region_tag_subtitle}}
				{{ region_attributes.subtitle.addClass(['subtitle']) }}
				>
				{{ content.subtitle }}
				</{{settings.region_tag_subtitle}}> <{{settings.region_tag_title}}
				{{ region_attributes.title.addClass(['title']) }}
				>
				{{ content.title }}
				</{{settings.region_tag_title}}>
				{% if content.description|has_value %}
				<div {{ region_attributes.description.addClass(['description']) }}>
					{{ content.description }}
				</div>
				{% endif %}
			</div>
			{% endif %}
			{% if content.listes|has_value %}
			<div {{ region_attributes.listes.addClass(['listes']) }}>
				{{ content.listes }}
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endif %}