{% if content %}
	<div {{attributes.addClass(['cvSectionFooter','container'])}}>
		{% if content.title %}
			<h4 {{region_attributes.title.addClass(['title'])}}> {{content.title}} </h4>
		{% endif %}
		{% if content.infos|has_value %}
			<div class="infos">
            	<div class="layout-region {{ settings.class_row }}">
            	{% for item in content.infos|array_elements(region_attributes.infos) %}
            		{{ item }}
            	{% endfor %}
            	</div>	
        	</div>		
		{% endif %}
	</div>
{% endif %}