{% if content %}
  <div {{ attributes.addClass(["document-parent", "container"]) }}>
    <div class="element-modif d-flex">
      <section class="first-presentation">

        {% if content.buildercv_presentation_cv2_image %}
          <div {{ region_attributes.buildercv_presentation_cv2_image.addClass(["photo"]) }}>
            {{ content.buildercv_presentation_cv2_image }}
          </div>
        {% endif %}

        {% if content.buildercv_presentation_cv2_name %}
          <h1 {{ region_attributes.buildercv_presentation_cv2_name.addClass(["presentation-name", "h1"]) }}>
            {{ content.buildercv_presentation_cv2_name }}
          </h1>
        {% endif %}

        {% if content.buildercv_presentation_cv2_job %}
          <h5 {{ region_attributes.buildercv_presentation_cv2_job.addClass(["presentation-profession", "font-weight-bold"]) }}>
            {{ content.buildercv_presentation_cv2_job }}
          </h5>
        {% endif %}

        {% if content.buildercv_presentation_cv2_status %}
          <h5 {{ region_attributes.buildercv_presentation_cv2_status.addClass(["presentation-status", "font-weight-bold"]) }}>
            {{ content.buildercv_presentation_cv2_status }}
          </h5>
        {% endif %}

        {% if content.buildercv_presentation_cv2_description %}
          <div {{ region_attributes.buildercv_presentation_cv2_description.addClass(["presentation-description", "font-weight-bold"]) }}>
            {{ content.buildercv_presentation_cv2_description }}
          </div>
        {% endif %}

        {% if content.buildercv_presentation_cv2_contact %}
          <div {{ region_attributes.buildercv_presentation_cv2_contact.addClass(["coordonnées"]) }}>
            {{ content.buildercv_presentation_cv2_contact }}
          </div>
        {% endif %}
      </section>
      <div class="mt-5 document-secondaire">
        <section class="section-formation">
          {% if content.buildercv_presentation_cv2_title_1 %}
            {{ content.buildercv_presentation_cv2_title_1 }}
          {% endif %}
          {% if content.buildercv_presentation_cv2_formations %}
            {{ content.buildercv_presentation_cv2_formations }}
          {% endif %}
        </section>
        <section class="section-experiences">
          {% if content.buildercv_presentation_cv2_title_2 %}
            {{ content.buildercv_presentation_cv2_title_2 }}
          {% endif %}
          {% if content.buildercv_presentation_cv2_experiences %}
            {{ content.buildercv_presentation_cv2_experiences }}
          {% endif %}
        </section>
      </div>
    </div>
  </div>
{% endif %}
