{% if content %}
    <section class="cv-section-profil-hero container">
  <div class="hero">
    {% if  content.buildercv_profil_cv1_title1|has_value or content.buildercv_profil_cv1_resumed|has_value%}
        <div class="cv-section-profil-hero-container">
          {% if content.buildercv_profil_cv1_title1 %}
            <div {{region_attributes.buildercv_profil_cv1_title1.addClass(["title"])}}>
                {{content.buildercv_profil_cv1_title1}}
            </div>
          {% endif %}

          {% if content.buildercv_profil_cv1_resumed %}
              <div {{region_attributes.buildercv_profil_cv1_resumed.addClass(["mytexte"])}}>
                {{content.buildercv_profil_cv1_resumed}}
              </div>
          {% endif %}
        </div>
    {% endif %}

    {% if content.buildercv_profil_cv1_title2|has_value or content.buildercv_profil_cv1_competences|has_value %}
      <div class="competence">
        {% if content.buildercv_profil_cv1_title2 %}
          <div {{region_attributes.buildercv_profil_cv1_title2.addClass(["subtitle"])}}>
              {{content.buildercv_profil_cv1_title2}}
          </div>
        {% endif %}

        {% if content.buildercv_profil_cv1_competences %}
          {{content.buildercv_profil_cv1_competences}}
        {% endif %}
      </div>
    {% endif %}
  </div>
</section>

{% endif %}