{% if content %}  
  <section {{ attributes.addClass(['col-md-6','presentation']) }}>
    <div class="profil">
      {% if content.sc_image|has_value %}
			<div {{ region_attributes.sc_image.addClass(['information-image']) }}>
				{{ content.sc_image }}
			</div>
			{% endif %}
      <div class="infos">
        {% if content.sc_name|has_value %}
        <{{settings.region_tag_sc_name}} {{ region_attributes.sc_name.addClass(['information-image']) }}>
          {{ content.sc_name }}
        </{{settings.region_tag_sc_name}}>
        {% endif %}
        {% if content.sc_post|has_value %}
        <{{settings.region_tag_sc_name}} {{ region_attributes.sc_post.addClass(['information-image']) }}>
          {{ content.sc_post }}
        </{{settings.region_tag_sc_post}}>
        {% endif %}
        {% if content.sc_status|has_value %}
        <{{settings.region_tag_sc_status}} {{ region_attributes.sc_status.addClass(['information-image']) }}>
          {{ content.sc_status }}
        </{{settings.region_tag_sc_status}}>
        {% endif %}
      </div>
    </div>
    <div class="profil">
      <div class="information">
      {% if content.sc_description|has_value %}
        <div {{ region_attributes.sc_description.addClass(['text']) }}>
          {{ content.sc_description }}
        </div>
      {% endif %}
        <div class="coordonnées">
          {% if content.sc_iconText %}
          <div {{ region_attributes.sc_iconText.addClass(['infos1','d-flex'])}}>
            {{ content.sc_iconText }}
            <div class="svg1">
              <svg
                width="30px"
                height="30px"
                viewBox="0 0 24 24"
                id="magicoon-Filled"
                xmlns="http://www.w3.org/2000/svg"
              >
                <defs>
                  <style>
                    .cls-1 {
                      fill: #41416e;
                    }
                  </style>
                </defs>
                <title>phone</title>
                <g id="phone-Filled">
                  <path
                    id="phone-Filled-2"
                    data-name="phone-Filled"
                    class="cls-1"
                    d="M20.489,20.011A4.273,4.273,0,0,1,17.248,21.5h-.116A15.042,15.042,0,0,1,2.5,6.868,4.28,4.28,0,0,1,4,3.494a4.028,4.028,0,0,1,3.349-.931,3.549,3.549,0,0,1,.474.119,1.492,1.492,0,0,1,1,1.191l.67,4.254a1.515,1.515,0,0,1-.541,1.412c-.084.068-.171.132-.262.193a.538.538,0,0,0-.215.666A9.857,9.857,0,0,0,13.6,15.525a.542.542,0,0,0,.671-.222c.047-.068.1-.135.146-.2a1.513,1.513,0,0,1,1.431-.547l4.332.721a1.473,1.473,0,0,1,1.186,1.033c.027.1.052.207.074.332A4.072,4.072,0,0,1,20.489,20.011Z"
                  />
                </g>
              </svg>
            </div>
            <div class="contact">+237696457558</div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endif %}