{% if item %}
  <div class="cvSectionExp-content1">
    {% if item.value %}
      <h5>
        {{ item.value }}
      </h5>
    {% endif %}
    {% if item.description %}
      <div>
        {{ item.description }}
      </div>
    {% endif %}

    {% if item.company %}
      <div class="d-flex container bloc1">
        {{ item.company }}
      </div>
    {% endif %}

    {% if item.date_debut|has_value or item.date_fin|has_value %}
      <div class="d-flex contenu1">
        {% if item.date_debut %}
          <div class="container col-md-6 bg-secondary text-white date1">
            {{ item.date_debut }}
          </div>
        {% endif %}

        {% if item.date_fin %}
          <div class="container col-md-6 bg-secondary text-white date2">
            {{ item.date_fin }}
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endif %}
